In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import functions as F

In [2]:
#create a Spark application
spark = SparkSession.builder.appName('SparkBasics').getOrCreate()
spark

23/11/05 22:18:24 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

### 1) PySpark environment and Data Ingestion

a. Print the configuration settings of the PySpark environmen

In [3]:
spark.sparkContext.getConf().getAll()

http://qdxd6ahq2fdqbehoghgsusv574-dot-us-central1.dataproc.googleusercontent.com:80/gateway/default/yarn/proxy/application_1699123760114_0002'),
 ('spark.app.submitTime', '1699128252276'),
 ('spark.dataproc.sql.joinConditionReorder.enabled', 'true'),
 ('spark.dataproc.sql.local.rank.pushdown.enabled', 'true'),
 ('spark.yarn.unmanagedAM.enabled', 'true'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.metrics.namespace',
  'app_name:${spark.app.name}.app_id:${spark.app.id}'),
 ('spark.driver.maxResultSize', '1024m'),
 ('spark.dataproc.sql.optimizer.leftsemijoin.conversion.enabled', 'true'),
 ('spark.hadoop.hive.execution.engine', 'mr'),
 ('spark.eventLog.dir',
  'gs:/dataproc-temp-us-central1-798309803866-frmiwt84/69975949-d88e-46d5-9c93-a7f23d7f22f5/spark-job-history'),
 ('spark.executor.id', 'driver'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.hadoop.mapreduce.fileoutputcommitter.algorithm.version', '2'),
 ('spark.dynamicAllocation.maxExecutors', '10000'),
 ('spark.executor.memory', '2893m'),
 ('spark.executorEnv.PYTHONPATH',
  '/usr/lib/spark/python/lib/py4j-0.10.9.5-src.zip:/usr/lib/spark/python/:<CPS>{{PWD}}/pyspark.zip<CPS>{{PWD}}/py4j-0.10.9.5-src.zip'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.sql.parquet.enableNestedColumnVectorizedReader', 'true'),
 ('spark.executorEnv.OPENBLAS_NUM_THREADS', '1'),
 ('spark.yarn.historyServer.address', 'big-data-assignment-m:18080'),
 ('spark.sql.cbo.enabled', 'true'),
 ('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.app.startTime', '1699128253739'),
 ('spark.ui.proxyBase', '/proxy/application_1699123760114_0002'),
 ('spark.dataproc.sql.parquet.enableFooterCache', 'true'),
 ('spark.sql.warehouse.dir', 'file:/spark-warehouse'),
 ('spark.sql.autoBroadcastJoinThreshold', '21m'),
 ('spark.yarn.am.memory', '640m'),
 ('spark.history.fs.logDirectory',
  'gs:/dataproc-temp-us-central1-798309803866-frmiwt84/69975949-d88e-46d5-9c93-a7f23d7f22f5/spark-job-history'),
 ('spark.checkpoint.compress', 'true'),
 ('spark.driver.port', '39111'),
 ('spark.executor.instances', '2'),
 ('spark.dataproc.listeners',
  'com.google.cloud.spark.performance.DataprocMetricsListener'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'big-data-assignment-m.us-central1-c.c.affable-anagram-401023.internal.'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.deployMode', 'client'),
 ('spark.sql.cbo.joinReorder.enabled', 'true'),
 ('spark.app.id', 'application_1699123760114_0002'),
 ('spark.shuffle.service.enabled', 'true'),
 ('spark.driver.appUIAddress',
  'http:/big-data-assignment-m.us-central1-c.c.affable-anagram-401023.internal:38797'),
 ('spark.scheduler.mode', 'FAIR'),
 ('spark.sql.adaptive.enabled', 'true'),
 ('spark.yarn.jars', 'local:/usr/lib/spark/jars/*'),
 ('spark.scheduler.minRegisteredResourcesRatio', '0.0'),
 ('spark.master', 'yarn'),
 ('spark.driver.memory', '2048m'),
 ('spark.ui.port', '0'),
 ('spark.rpc.message.maxSize', '512'),
 ('spark.rdd.compress', 'True'),
 ('spark.submit.pyFiles', ''),
 ('spark.dynamicAllocation.enabled', 'true'),
 ('spark.yarn.isPython', 'true'),
 ('spark.executor.cores', '1'),
 ('spark.driver.host',
  'big-data-assignment-m.us-central1-c.c.affable-anagram-401023.internal'),
 ('spark.ui.showConsoleProgress', 'true')]

b. Read the Chicago crimes dataset into a PySpark datafram

In [3]:
df = spark.read.csv("gs://gcs-de-2-annabella/Crimes_-_2001_to_Present.csv", header=True)
print(df.show(5))

+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|                Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|11037294|   JA371270|03/18/2015 12:00:...|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        null|        null|2015|08/01/2017 03:52:...|    null|     null|    null|
|11646293|   JC213749|12/20/2018 03:00:...|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        null|        null|2018|04/06/2019 04:04:...|    null|     null|    null|
|11645836|   JC212333|05/01/2016 12:25:...| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|    null|     null|    null|
|11645959|   JC211511|12/20/2018 04:00:...|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        null|        null|2018|04/06/2019 04:04:...|    null|     null|    null|
|11645601|   JC212935|06/01/2014 12:01:...| 087XX S SANGAMON ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|2222|     022|  21|            71|      11|        null|        null|2014|04/06/2019 04:04:...|    null|     null|    null|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 5 rows

None

c. Print summary statistics of the data set

In [6]:
df.summary().show()

+-------+------------------+------------------+--------------------+--------------+-----------------+-----------------+---------------+--------------------+-------+--------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-------------------+--------------------+--------------------+
|summary|                ID|       Case Number|                Date|         Block|             IUCR|     Primary Type|    Description|Location Description| Arrest|Domestic|             Beat|         District|              Ward|    Community Area|          FBI Code|      X Coordinate|     Y Coordinate|              Year|          Updated On|           Latitude|           Longitude|            Location|
+-------+------------------+------------------+--------------------+--------------+-----------------+-----------------+---------------+--------------------+-------+--------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-------------------+--------------------+--------------------+
|  count|           7917278|           7917278|             7917278|       7917278|          7917278|          7917278|        7917278|             7905345|7917278| 7917278|          7917278|          7917231|           7302429|           7303802|           7917278|           7827086|          7827086|           7917278|             7917278|            7827086|             7827086|             7827086|
|   mean| 7128316.344219187|299566.86666666664|                null|          null| 1119.97656680145|             null|           null|                null|   null|    null|1185.416285243489|11.29527432002426| 22.76055227650964| 37.46112873815583|12.056352263986678|1164612.8739284326|1885810.813258472|2010.1619339373963|                null| 41.842260113101524|  -87.67144968127596|                null|
| stddev|3560921.2086232174|138492.54914247536|                null|          null|811.2441796692971|             null|           null|                null|   null|    null|703.3086770831123|6.955368545412692|13.852751655693089|21.542647669952004|7.3001665554628605|16842.677319327624|32274.05599173258| 6.428735347248071|                null|0.08879210131998454|0.061070583068153224|                null|
|    min|              1000|         01G050460|01/01/2001 01:00:...|0000X E 100 PL|             0110|            ARSON| $300 AND UNDER|"CTA ""L"" PLATFORM"|  false|   false|             0111|              001|                 1|                 0|               01A|                 0|                0|              2001|01/01/2007 07:32:...|       36.619446395|       -87.524529378|(36.619446395, -9...|
|    25%|         3841838.0|          161884.0|                null|          null|            560.0|             null|           null|                null|   null|    null|            621.0|              6.0|              10.0|              23.0|               6.0|         1152996.0|        1859096.0|            2005.0|                null|        41.76874464|       -87.713636218|                null|
|    50%|         7127357.0|          318876.0|                null|          null|            860.0|             null|           null|                null|   null|    null|           1034.0|             10.0|              23.0|              32.0|              11.0|         1166133.0|        1890753.0|            2009.0|                null|       41.855983399|       -87.665784513|                null|
|    75%|       1.0298741E7|          413567.0|                null|          null|           1320.0|             null|           null|                null|   null|    null|           1731.0|             17.0|              34.0|              57.0|              18.0|         1176389.0|        1909295.0|            2015.0|                null|        41.90683577|       -87.628153577|                null|
|    max|           9999999|         ZZZ199957|12/31/2022 12:59:...|   XX  UNKNOWN|             9901|WEAPONS VIOLATION|WIREROOM/SPORTS|                YMCA|   true|    true|             2535|               16|                 9|                 9|                27|           1205119|          1951622|              2023|12/31/2022 03:42:...|       42.022910333|       -91.686565684|(42.022910333, -8...|
+-------+------------------+------------------+--------------------+--------------+-----------------+-----------------+---------------+--------------------+-------+--------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-------------------+--------------------+--------------------+

d. Inspect the data partitions and repartition if needed

In [11]:
#display number of records by partition
def displaypartitions(df):
    #number of records by partition
    num = df.rdd.getNumPartitions()
    print("Partitions:", num)
    df.withColumn("partitionId", F.spark_partition_id())\
        .groupBy("partitionId")\
        .count()\
        .orderBy(F.asc("count"))\
        .show(num)
displaypartitions(df)

Partitions: 14

+-----------+------+
|partitionId| count|
+-----------+------+
|         13|522333|
|          0|563918|
|         12|565002|
|         11|565438|
|         10|566124|
|          1|566449|
|          9|566755|
|          2|567841|
|          7|567875|
|          6|567927|
|          8|568058|
|          5|571033|
|          3|572629|
|          4|585896|
+-----------+------+

### 2) Data Transformation

a. Drop the columns beat, ward, latitude and longitude column

In [4]:
df = df.drop('Beat','Ward','Latitude','Longitude')

b. Convert remaining columns to appropriate data types. Make your best assumptions by sampling the
data. View schema again to ensure that data types have been converted

In [13]:
df.dtypes

[('ID', 'string'),
 ('Case Number', 'string'),
 ('Date', 'string'),
 ('Block', 'string'),
 ('IUCR', 'string'),
 ('Primary Type', 'string'),
 ('Description', 'string'),
 ('Location Description', 'string'),
 ('Arrest', 'string'),
 ('Domestic', 'string'),
 ('District', 'string'),
 ('Community Area', 'string'),
 ('FBI Code', 'string'),
 ('X Coordinate', 'string'),
 ('Y Coordinate', 'string'),
 ('Year', 'string'),
 ('Updated On', 'string'),
 ('Location', 'string')]

In [6]:
from pyspark.sql.functions import unix_timestamp, from_unixtime
df = df.select('Date', from_unixtime(unix_timestamp('Date', 'MM-dd-yyyy HH:mm:ss')).alias('Date_n'))

In [8]:
df.select('Date_n').distinct().show()

+------+
|Date_n|
+------+
|  null|
+------+

In [112]:
from pyspark.sql.types import BooleanType
df = df.withColumn('Arrest', F.col('Arrest').cast(BooleanType()))
df = df.withColumn('Domestic', F.col('Domestic').cast(BooleanType()))

In [28]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: timestamp (nullable = true)
 |-- Location: string (nullable = true)

c. Add a month column and community name (from metadata) to the dataset

In [148]:
# Add a month column
from pyspark.sql.functions import month
df = df.withColumn('Month', month(df.Date))

In [45]:
# Add community name column
from pyspark.sql.functions import lit
name = ['ROGERS PARK','WEST RIDGE','UPTOWN','LINCOLN SQUARE','NORTH CENTER','LAKE VIEW','LINCOLN PARK','NEAR NORTH SIDE','EDISON PARK','NORWOOD PARK','JEFFERSON PARK','FOREST GLEN','NORTH PARK','ALBANY PARK','PORTAGE PARK','IRVING PARK','DUNNING','MONTCLARE','BELMONT CRAGIN','HERMOSA','AVONDALE',
        'LOGAN SQUARE','HUMBOLDT PARK','WEST TOWN','AUSTIN','WEST GARFIELD PARK','EAST GARFIELD PARK','NEAR WEST SIDE','NORTH LAWNDALE','SOUTH LAWNDALE','LOWER WEST SIDE','LOOP','NEAR SOUTH SIDE','ARMOUR SQUARE','DOUGLAS','OAKLAND','FULLER PARK','GRAND BOULEVARD','KENWOOD','WASHINGTON PARK','HYDE PARK',
        'WOODLAWN','SOUTH SHORE','CHATHAM','AVALON PARK','SOUTH CHICAGO','BURNSIDE','CALUMET HEIGHTS','ROSELAND','PULLMAN','SOUTH DEERING','EAST SIDE','WEST PULLMAN','RIVERDALE','HEGEWISCH','GARFIELD RIDGE','ARCHER HEIGHTS','BRIGHTON PARK','MCKINLEY PARK','BRIDGEPORT','NEW CITY','WEST ELSDON','GAGE PARK',
        'CLEARING','WEST LAWN','CHICAGO LAWN','WEST ENGLEWOOD','ENGLEWOOD','GREATER GRAND CROSSING','ASHBURN','AUBURN GRESHAM','BEVERLY','WASHINGTON HEIGHTS','MOUNT GREENWOOD','MORGAN PARK','OHARE','EDGEWATER']

In [63]:
from pyspark.sql.functions import when
Conditional_values = [(df['Community Area'] == i, name[i]) for i in range(len(name))]
for c, n in Conditional_values:
    df = df.withColumn('Community Name', when(c,n).otherwise(F.col('Community Name')))

In [65]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Community Name: string (nullable = true)

### 3) Explore data by crime attributes

a. Group and count crimes where description begins with the word “aggravated”

In [40]:
Agg = df.filter("Description like 'AGGRAVATED%'").groupby('Primary Type').count()
Agg.show(5)

+--------------------+------+
|        Primary Type| count|
+--------------------+------+
|OFFENSE INVOLVING...|  2729|
|CRIMINAL SEXUAL A...|  1585|
|            STALKING|   151|
|               ARSON|  2076|
|             ASSAULT|139016|
+--------------------+------+
only showing top 5 rows

b. Which crime type is the most prevalent in apartments and which community has it occurred the mos

In [43]:
df.filter(df['Location Description']=='APARTMENT').groupby('Primary Type').count().orderBy(['count'], ascending=[0]).show(1)

+------------+------+
|Primary Type| count|
+------------+------+
|     BATTERY|306264|
+------------+------+
only showing top 1 row

In [84]:
df.filter(df['Primary Type'] == 'BATTERY').groupby('Community Name').count().orderBy(['count'],ascending=[0]).show(2)

+------------------+------+
|    Community Name| count|
+------------------+------+
|              null|130482|
|WEST GARFIELD PARK| 91900|
+------------------+------+
only showing top 2 rows

c. What is the maximum number of weapons violations per month that occurred in 2020

In [89]:
from pyspark.sql.functions import max
df.filter(df['Year'] == 2020).filter(df['Primary Type'] == 'WEAPONS VIOLATION').groupby('Month').count().agg(F.max('count')).show()

+----------+
|max(count)|
+----------+
|      8432|
+----------+

d. What percentage of the domestic crimes led to an arrest ?

In [92]:
dom_arrest = df.filter(df['Arrest']==True).groupby('Domestic').count()
dom_arrest.show()

+--------+-------+
|Domestic|  count|
+--------+-------+
|    true| 265354|
|   false|1785151|
+--------+-------+

In [95]:
per = 265354 * 100 / 1785151
print(f'percentage of the domestic crimes led to an arrest: {per} %')

percentage of the domestic crimes led to an arrest: 14.86451286193717 %

### 4) Explore data by date and time

a. Which day of the week and which month have the most and the least crimes on averag

In [97]:
#Month
df.groupby('Month').count().orderBy(['count'], ascending=[0]).show()

+-----+-------+
|Month|  count|
+-----+-------+
| null|7917278|
+-----+-------+

In [ ]:
#Day of week
from pyspark.sql.functions import date_format
df = df.withColumn("DayOfWeek", date_format(F.col("Date"), "E"))
df.groupby('DayOfWeek').count().orderBy(['count'], ascending=[0]).show()

b. Which date had the most number of homicides in the dataset. How many days passed between this date
and the next highest number of homicides

In [ ]:
df.filter(df['Primary Type'=='HOMICIDES']).groupby('DayOfWeek').count().orderBy(['count'], ascending=[0]).show()

c. Plot a monthly time series line chart of all crimes for the last 3 years

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
mon_crime = df.filter(df['Year']==2023 & df['Year']==2022 & df['Year']==2021).groupby('Year','Month').count().orderBy(["Year", "Month"], ascending=[0, 0])
pl = mon_crime.toPandas()
pl.plot(y="count", figsize=(15,4), style="-")

d. Plot a year over year comparison for 3 years (2020, 2021, 2022) by top 5 crime types

In [ ]:
crime_type = df.filter(df['Year']==2023 & df['Year']==2022 & df['Year']==2021).groupby('Primary Type').count().order

### 5) Explore by location

a. Use a window function to calculate the community rank based on total crime figures (highest to lowest),
where the community with the highest crime will have rank 1. Your results set should have 1 row for
each community, with a column for the community name and the rank. You can also add a column with
the total crime count if it helps you

b. Use a window function to calculate a rolling 7 day sum of crimes over time within each community Your
results set should have 3 columns: community, date, and the rolling/lagging 7 day sum

c. Use window functions to calculate a 7 day moving average and cumulative sum of crimes over
time within each community. Your results set should have 4 columns: community, date, the 7 day
moving average, and the cumulative sum

d. Cross-tabulate Crime Types vs Location description and visualize it through a heatmap

### 6) Impact of Covid-19

a. Bring in daily Covid cases data from the City of Chicago data portal and load into your data lake or Hive
table

b. Create summarized daily total counts of the daily crime data by crime type

c. Join daily total covid cases and death data with daily chicago crimes data starting Jan 2020

d. Perform a thorough analysis in PySpark on how Covid-19 has impacted various types of crimes
compared to previous years.